<head>
  {% if layout == "layouts/post.njk" %}
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      event: "post_view",
      post_title: {{ title | dump | safe }},
      post_categories: {{ categories | dump | safe }},
      post_date: "{{ date | xmlSchemaDate }}"
    });
  </script>
  {% endif %}
  {% if isProduction %}
  {% include "gtm-head.njk" %}
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="{{ robots or 'index, follow' }}">
  {% include "seo.njk" %}
  {% include "structured-data.njk" %}
  <link rel="author" type="text/plain" href="/humans.txt" />
  <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/icons/manifest.json">
  <meta name="theme-color" content="#483d8b">
  <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="/feed.xml">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap">
</head>
