<title>{% if title %}{{ title }} | {{ metadata.title }}{% else %}{{ metadata.title }}{% endif %}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="canonical" href="{{ page.url | absoluteUrl(metadata.url) }}">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:locale" content="pt_BR">
<meta property="og:type" content="{% if layout == 'layouts/post.njk' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | absoluteUrl(metadata.url) }}">
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
{% if image %}<meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">{% endif %}
<meta name="twitter:card" content="{% if image %}summary_large_image{% else %}summary{% endif %}">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ description or metadata.description }}">
{% if image %}<meta name="twitter:image" content="{{ image | absoluteUrl(metadata.url) }}">{% endif %}
