.post-list {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  padding: 0;

  > li {
    width: 100%;
    list-style: none;
  }

  @include breakpoint($md) {
    > li:first-child {
      width: 100%;
    }
    
    > li {
      width: 50%;
    }
  }
}

.post-item {
  margin: $spacing-unit / 2;
  padding: ($spacing-unit / 2) ($spacing-unit / 2) ($spacing-unit / 2 - .313rem);

  background-color: white;
  box-shadow: 0 4px 8px rgba(black, .1);
}

.post-item,
.post {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      margin-right: .313rem;
      margin-bottom: .313rem;
    }

    a,
    a:active,
    a:visited {
      padding-right: .625rem;
      font-size: .75rem;
    }
  }
}

.post-link {
  &,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: $text-color;
  }

  .post-meta {
    font-size: .75rem;
    color: #bbb;
  }

  p {
    height: #{$base-line-height * 3}rem;
    overflow: hidden;
  }
}

.post-header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  text-align: center;

  @include breakpoint($lg) {
    margin-top: $spacing-unit * 2;
  }

  .post-title {
    margin-bottom: 0;
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: $spacing-unit / 2;
  }

  .post-date-published {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    color: $brand-color;
    text-transform: uppercase;
  }

  .post-date-update {
    font-size: .75rem;
    color: #bbb;
  }
  
  li {
    margin: .313rem;
  }
}

.post-content {
  font-family: $base-font-family-post;
  font-size: 1.125rem;
  line-height: 1.75;

  a {
    padding-bottom: 1px;
    color: $second-color;
    text-decoration: none;
    border-bottom: 2px solid;
    transition: all 200ms ease-in-out;
  
    &:visited,
    &:active {
      color: $second-color;
    }
  
    &:hover,
    &:focus {
      color: lighten($second-color, 15%);
    }
  }

  a:not([href*='flaviodutra.com.br']):not([href^='#']):not([href^='/'])::after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 40 40'%3e%3cpath fill='#{$second-color}' d='M30 30h-26v-18h5.19c0 0 1.378-1.792 4.34-4h-11.53c-1.106 0-2 0.898-2 2v22c0 1.106 0.894 2 2 2h30c1.106 0 2-0.894 2-2v-7.492l-4 3.29v2.202zM26.722 16.1v7.102l13.278-10.402-13.278-9.998v6.262c-16.122 0-16.122 15.936-16.122 15.936 4.564-7.496 7.372-8.9 16.122-8.9z'%3e%3c/path%3e%3c/svg%3e");
    margin-left: .5rem;
  }

  p {
    margin-bottom: $spacing-unit;
  }

  p:not(.post-meta)::first-letter {
    font-size: 125%;
  }

  figure, p {
    margin-bottom: $spacing-unit;

    > img {
      margin-bottom: .5rem;
    }

    @include breakpoint($lg) {
      > img {
        max-width: 150%;
        margin-left: -25%;
      }
    }
  }

  figcaption {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }

  iframe, .aspect-ratio {
    margin-bottom: $spacing-unit;
  }

  // IFRAME ASPECT RATIO
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%; // 56.25?

    > iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  @include breakpoint($lg) {
    .aspect-ratio {
      width: 150%;
      margin-left: -25%;
      padding-bottom: 84.25%;
    }
  }

  .thumb-left {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .thumb-right {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: -25%;
  }
}

.post-meta {
  font-size: 1.125rem;

  [itemprop="email"] {
    font-size: .875rem;
  }
}

.fim {
  color: #ddd;
}