.post-list {
  display: flex;
  flex-flow: row wrap;

  margin: 0;
  padding: 0;

  > li {
    width: 100%;
    list-style: none;
  }

  @include breakpoint($md) {
    > li:first-child {
      width: 100%;
    }
    
    > li {
      width: 50%;
    }
  }
}

.post-item {
  margin: $spacing-unit / 2;
  padding: ($spacing-unit / 2) ($spacing-unit / 2) ($spacing-unit / 2 - .313rem);

  background-color: white;
  box-shadow: 0 4px 8px rgba(black, .1);
}

.post-item,
.post {
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      margin-bottom: .313rem;
    }

    a,
    a:active,
    a:visited {
      padding-right: .625rem;
      font-size: .75rem;
    }
  }
}

.post-link {
  &,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: $text-color;
  }

  .post-meta {
    font-size: .75rem;
    color: #bbb;
  }

  p {
    height: #{$base-line-height * 3}rem;
    overflow: hidden;
  }
}

.post-header {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 2;
  text-align: center;

  @include breakpoint($lg) {
    margin-top: $spacing-unit * 2;
  }

  .post-title {
    margin-bottom: 0;
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: $spacing-unit / 2;
  }

  .post-date-published {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    color: $brand-color;
    text-transform: uppercase;
  }

  .post-date-update {
    font-size: .75rem;
    color: #bbb;
  } 
}

.post-content {
  font-family: $base-font-family-post;
  font-size: 1.313rem;
  line-height: 1.5;

  a {
    padding-bottom: 1px;
    color: $second-color;
    text-decoration: none;
    border-bottom: 2px solid;
    transition: all 200ms ease-in-out;
  
    &:visited,
    &:active {
      color: $second-color;
    }
  
    &:hover,
    &:focus {
      color: lighten($second-color, 15%);
    }
  }

  p {
    margin-bottom: $spacing-unit;
  }

  p:not(.post-meta)::first-letter {
    font-size: 125%;
  }

  figure, p {
    margin-bottom: $spacing-unit;

    > img {
      margin-bottom: .5rem;
    }

    @include breakpoint($lg) {
      > img {
        max-width: 150%;
        margin-left: -25%;
      }
    }
  }

  figcaption {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }

  iframe, .aspect-ratio {
    margin-bottom: $spacing-unit;
  }

  // IFRAME ASPECT RATIO
  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56%; // 56.25?

    > iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  @include breakpoint($lg) {
    .aspect-ratio {
      width: 150%;
      margin-left: -25%;
      padding-bottom: 84.25%;
    }
  }
}

.post-meta {
  font-size: 1.125rem;

  [itemprop="email"] {
    font-size: .875rem;
  }
}

.fim {
  color: #ddd;
}