<!DOCTYPE html>
<html lang="{{ lang or metadata.lang }}">
{% include "partials/head.njk" %}

  <body>
    {% if isProduction %}
    {% include "integrations/gtm-body.njk" %}
    {% endif %}
    {% include "partials/header.njk" %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content | safe }}
        {% include "partials/categories.njk" %}
      </div>
    </main>

    {% include "partials/footer.njk" %}
    {% include "integrations/vlibras.njk" %}

    <script src="/assets/js/main.js"></script>
  </body>
</html>
