---
layout: layouts/base.njk
---
{% from "macros.njk" import categoryTags %}
<div class="home">

  <h1 class="visually-hidden">{{ metadata.title }}</h1>

  {{ content | safe }}

  <ul class="post-list">
    {% for post in collections.posts | reverse %}
      <li>
        <div class="post-item">
          <span class="post-meta">
            {{ post.date | longDatePt }}
          </span>
          <h2><a class="post-link" href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p>{{ post.data.description }}</p>
          {{ categoryTags(post.data.categories) }}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
